{% extends 'base.html' %}
{% load app_filters %}
{% block content %}
 
<div class="row">
	<nav class="col-sm-3" id="myScrollspy">
    	<ul class="nav nav-pills flex-column" style="position: fixed">
      		<h2>Technologies</h2>
          {% for tech in tech %}
        	<li class="nav-item">
        		<a class="nav-link " href="#{{tech}}">{{tech}}</a>
     		</li>
        {% endfor %}
          <li class="nav-item">
            <button class="btn btn-primary"><a href="{% url 'result' userid %}"  style="color: white">End test</a></button>
          </li>
		</ul>
    </nav>
	<div class="col-sm-9" id="main" >
    {% for tech in tech %}
    		<div id="{{tech}}">
          {% for question in questions %}

          
    			{% if question.technology.name == 'tech' %}
            <div id="first{{question.id}}">
            <p>
 						<h5 class="font-weight-bold">{{ question }}
 			 				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{question.id}}" aria-expanded="false" id="button">Ask</button>
              <button type="button" class="btn btn-outline-secondary disabled">{{ question.difficulty|difficulty_name }}</button>
 						</h5>
					</p>
					<div class="collapse" id="{{question.id}}">
	    				<p>{{ question.answer }}</p>
				    	<form class='formsubmit' method="POST" action="">
				    		{% csrf_token %}
				    		<div class="form-group">
                  <label for="rating">Ratings</label>
                    <select id="rating" name="ratings">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
				    		<input type="hidden" name="candidate" value="{{userid}}">
				    		<input type="hidden" name="question" value="{{question.id}}">
				    		<input type="submit" name="submit" id="submit">
                <span id="message"></span>
				    	</form>
			    	
					</div>
          </div>
    	{% endif %}
      {% endfor %}
    		</div>
        
        {% endfor %}
      </div>
    </div>

{% endblock  %}